
 ./Repositories/TypicalRepo_20150118182436/sentencefile1.txt
 ./Repositories/TypicalRepo_20150118182436/sentencefile1.txt
 ./Repositories/TypicalRepo_20150118182436/sentencefile1.txt
 ./Repositories/TypicalRepo_20150118182436/sentencefile1.txt
 ./Repositories/TypicalRepo_20150118182436/sentencefile1.txt
 ./Repositories/TypicalRepo_20150120204737/sentencefile2.txt
 ./Repositories/TypicalRepo_20150120204737/sentencefile2.txt
 ./Repositories/TypicalRepo_20150120204737/sentencefile2.txt
 ./Repositories/TypicalRepo_20150120204737/sentencefile2.txt
 ./Repositories/TypicalRepo_20150120204737/sentencefile2.txt
 ./Repositories/TypicalRepo_20150120204737/sentencefile2.txt
 ./Repositories/TypicalRepo_20150120204737/sentencefile2.txt
 ./Repositories/TypicalRepo_20150120204737/sentencefile2.txt
 ./Repositories/TypicalRepo_20150120204737/sentencefile2.txt
 ./Repositories/TypicalRepo_20150120204737/sentencefile2.txt
 ./Repositories/TypicalRepo_20150120204737/sentencefile2.txt
 ./Repositories/TypicalRepo_20150122124731/sentencefile17.txt